<!DOCTYPE html>

<html>

<head>
    <title>About us</title>
    <link rel="icon"href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 

    </head>

<body>
    <div class="main-content">
        {{>header}}
    <img class="portrait" src="/img/lelac.jpg", >
    <h6>Lelac G Gozarin</h6>
   
    </div>

 <div class="main-content">
    <img class="portrait" src="/img/maricar.jpg">
    <h6>Maricar D Guelas</h6>
   </div>

    <div class="main-content">
    <img class="portrait" src="/img/ybonne.jpg">
    <h6>Mary-bon Delavin</h6>
   </div>

    <div class="main-content">
    <img class="portrait" src="/img/cyril.jpg">
    <h6>Cyril Mari Dacanay</h6>
   </div>

    {{>footer}}
</body>

</html>